<div class="technieken">
<h3>Back-end Developer</h3>
<div class="techniekIconen">
    <div class="techniek">
        <a href="projecten.php?techniek=nodejs">
            <img src="./img/node.png" width="90%" alt="node.js">
        </a>
    </div>
    <div class="techniek">
        <a href="projecten.php?techniek=php">
            <img src="./img/php.png" width="90%" alt="php">
        </a>
    </div>
    <div class="techniek">
        <a href="projecten.php?techniek=csharp">
            <img src="./img/cSharp.png" width="90%" alt="c#">
        </a>
    </div>
    <div class="techniek">
        <a href="projecten.php?techniek=linux">
            <img src="./img/tux.png" width="90%" alt="Linux">
        </a>
    </div>
</div>
</div>