<div class="container w-50 p-3 technieken">
    <div class="row">
      <div class="col-sm col- text-center p-2">
        <a href="projecten.php?techniek=nodejs">
            <img class="img-fluid w-50" src="./img/node.png" alt="node.js">
        </a>
      </div>
        <div class="col-sm text-center p-2">
            <a class="align-middle" href="projecten.php?techniek=php">
                <img class="img-fluid w-50" src="./img/php.png" alt="php">
            </a>
        </div>
    </div>

        <div class="row">
            <div class="col-sm text-center p-2">
                <a href="projecten.php?techniek=c#">
                    <img class="img-fluid w-50" src="./img/cSharp.png" alt="c#">
                </a>
              </div>
              <div class="col-sm text-center p-2">
                <a href="projecten.php?techniek=linux">
                    <img class="img-fluid w-50" src="./img/tux.png" alt="Linux">
                </a>
              </div>
        </div>

        <h3 class="text-center">
            Mijn favoriete technieken
        </h3>

  </div>